.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 10vh;
    width:100%;
    margin-top: 3vh;
}

.title {
    float:left;
    font-size: 7vh;
    font-weight:bold;
    margin-left: 2%;
}

.lookup {
    display:inline;
    font-size: 5vh;
    width: 40vw;
    height: 7vh;
    margin-right: 3vw;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.profile-info img {
    width: 20vw;
    height: 20vw;
    margin: 2vw 5vw 1vw 3vw;
    object-fit: cover;
    border-radius: 50%;
}

.info-text h1 {
    font-size: 72px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.info-text p {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin: 10px 0;
}

.info-text {
    width: 33%;
    display:flex;
    flex-direction:column;
}

.listings {
    width: 33%;
    padding: 1%;
    height: 65vh;
    margin-right: 3vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
}

.listing {
    display:flex;
    flex-direction:column;
    align-items: top;
    border: 1px solid black;
    padding: 0 10px;
}

.info {
    display:flex;
    align-items:center;
}

.info h3 {
    display:inline;
}

.info p {
    display:inline;
    margin-left:auto;
}

.offer {
    display: flex;
    align-items:center;
    margin-bottom:1%
}

.offer button {
    margin-left: auto;
}

.bottomButton {
    position:absolute;
    bottom: 12vh;
    left: 15vw;
    width: 20vw;
    height: 10vh;
    color: #162738;
    cursor: pointer;
    background-color: #d4f2fc;
    border-radius: 5px;
    padding: 20px 40px; /* Padding instead of height/width for better flexibility */
    font-size: 1.5rem; /* Make font size responsive */
    text-decoration: none;
    display: inline-block; /* Make button inline for centering */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for buttons */
}


.bottomButton:hover {
    background-color: #bde4fb; /* Lighter shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover for a lifting effect */
}