.home {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Ensure background image is centered */
}

.infoBox {
    position: relative;
    overflow: hidden;
    max-width: 600px; /* Limit the maximum width */
    margin: 20px; /* Add some space around */
    text-align: center; /* Center text inside the infoBox */
    background: rgba(255, 255, 255, 0.9); /* White background with 80% opacity */
    border-radius: 15px; /* Rounded corners for the background */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Updated shadow for more depth */
}

.infoBox h1 {
    font-size: 4.5rem; /* Start with a large size for large displays */
    margin-bottom: 0.5em; /* Provide spacing below the heading */
    font-weight: 500; /* Adjust weight - browser default for bold is usually 700 */
    color: black;
}

.infoBox p {
    font-size: 2rem; /* Large but readable on all devices */
    font-weight: lighter;
    color: black;
    margin-bottom: 1em; /* Provide spacing below paragraph */
}

.infoBox button {
    color: #162738;
    cursor: pointer;
    background-color: #d4f2fc;
    border: none; /* Remove border */
    border-radius: 5px;
    padding: 20px 40px; /* Padding instead of height/width for better flexibility */
    font-size: 1.5rem; /* Make font size responsive */
    text-decoration: none;
    display: inline-block; /* Make button inline for centering */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for buttons */
    margin-right: 5px; /* Add a margin to the right of each button */
}


.infoBox button:hover {
    background-color: #bde4fb; /* Lighter shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover for a lifting effect */
}
