.signup {
    width: 100%;
    height: auto;
    text-align: center;
}

.signup h1 {
    font-size: 60px;
    color: #162738;
}

.signup p {
    display: inline-block;
    line-height: 40px;
    margin-top: 40px;
    width: 530px;
}

.signup label {
    float: left;
    font-size: 24px;
    left: 0;
}

.signup input {
    float: right;
    right: 0;
    height: 40px;
    font-size: 24px;
    width: 300px;
}

.signup button {
    color: #162738;
    cursor: pointer;
    background-color: #d4f2fc;
    margin-top: 100px;
    border-radius: 10px;
    border-color: #162738;
    height: 100px;
    width: 530px;
    font-size: 40px;
    text-decoration: none;
    justify-content: center;
}

.info button {
    color: #162738;
    cursor: pointer;
    background-color: #d4f2fc;
    margin-top: 100px;
    border-radius: 10px;
    border-color: #162738;
    height: 100px;
    width: 530px;
    font-size: 40px;
    text-decoration: none;
    justify-content: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.info h1 {
    font-size: 60px;
    color: #162738;
    margin-left: 20px;
}

.info label {
    text-align: right; /* Align the text of the label to the right */
    white-space: nowrap; /* Prevent label text from wrapping */
    margin: 0; /* Reset margin */
}

.info p{
    display: inline-block;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    width: auto;
}

.info input {
    width: 250px;
    height: 40px;
    font-size: 24px;
}

.info {
    text-align: left;
}

.info img {
    display: none;
}

.info img[src] {
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
}